name: Android CI

on:
  push:
    branches:
        - '*'
        - 'renovate/**'
  pull_request:
  workflow_dispatch:

jobs:
  linux-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: liberica
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v4
        with:
          min-wrapper-count: 1
          allow-snapshots: false
      - name: Setup ninja
        uses: seanmiddleditch/gha-setup-ninja@v6
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.0.2'
      - name: Spotless check
        run: ./gradlew spotlessCheck
      - name: Build debug apk with Gradle
        run: ./gradlew assembleDebug
      - name: Upload debug apk
        uses: actions/upload-artifact@v4
        with:
          name: app-debug-${{ github.sha }}.apk
          path: ${{ github.workspace }}/app/build/outputs/apk/debug/app-debug.apk
